<%= link_to("Back to Characteristic",product_characteristics_path(@product_slug),:class=>'action index')%>
<h1>New Characteristic</h1>

<%= form_for(:product_characteristic, :url=>product_characteristics_path(@product_slug),:multipart=>true) do |f| %>
<%= render(:partial => "form",:locals=>{:f=>f})%>
<div class="form-buttons">
  <%= submit_tag("Create Characteristic")%>
</div>
<% end %>
