<h1>Welcome to Tito Shoe Co</h1>
<table class="listing" summary="Product list">
  <tr class="header">
    <th>&nbsp;</th>
    <th>Model Name</th>
  </tr>
  <% @products.each do |product| %>
  <tr class="">
    <td><%= product.mod_name %></td>
    <td class="actions">
    <%= link_to("Details", {:action => 'single', :slug => product.slug}, :class => 'action single') %>
    </td>
  </tr>
  <% end %>
</table>
