<%= link_to("Back to Shop Area", {:action => 'index'}, :class => 'action index') %>
<table summary="Product form fields">
  <tr>
    <th>Model Name</th>
    <td><%= @product.mod_name %></td>
  </tr>
  <tr>
    <th>SKU</th>
    <td><%= @product.sku %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @product.description %></td>
  </tr>
</table>
