<h1>Update Product</h1>

<%= form_for(:product, :url=>{:action => 'update', :id => @product.id}:method=>"patch") do |f| %>
<%= render(:partial => "form",:locals=>{:f=>f})%>
<div class="form-buttons">
  <%= submit_tag("Update Product")%>
</div>
<% end %>
